# ДОМАШНЯЯ РАБОТА №1 (pandas)
 blablablablabla


 *(by FM)*

______________________________________________________________________________________________________________________________

### Вам предстоит проанализировать [датасет](https://www.kaggle.com/datasets/adilshamim8/educational-backgrounds-of-successful-people), содержащий сведения об образовании известных успешных людей.

## ЧАСТЬ 1: базовый анализ и очистка данных

#### Загрузите датасет и узнайте его размер, типы данных в столбцах.

In [421]:
import pandas as pd

table = pd.read_csv('/content/archive.zip')
print('Dataset size:')
print(str(table.shape[0]) + ' rows, ' + str(table.shape[1]) + ' columns' + '\n')
print("Types of Data")
print(table.dtypes)

Dataset size:
125 rows, 10 columns

Types of Data
Name                         object
Profession                   object
Degree                       object
Field                        object
Institution                  object
Graduation Year              object
Country                      object
University Global Ranking    object
GPA (or Equivalent)          object
Scholarship/Award            object
dtype: object

#### Найдите количество пропущенных значений в каждом столбце. Выведите первые 5 строк, последние 3 строки и 2 случайные строки, а также с 10 по 15 строки.

In [422]:
print(table.isna().sum())
first_rows = table.head(5)
last_rows = table.tail(3)
random_rows = table.sample(2)
five_to_fifteen = table.loc[5:15]
pd.concat([first_rows, last_rows, random_rows, five_to_fifteen])

Name                          0
Profession                    0
Degree                        7
Field                         8
Institution                   8
Graduation Year              14
Country                       1
University Global Ranking    44
GPA (or Equivalent)          39
Scholarship/Award            37
dtype: int64

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.6,Marquis Scholar
122,Aliko Dangote,Business,Bachelor's Degree,Business Administration,Al-Azhar University,1977,Nigeria,NaN,NaN,NaN
123,Gennady Timchenko,Business,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
124,Idan Ofer,Business,Bachelor's Degree,Economics and Management,London School of Economics,1987,United Kingdom,49,NaN,NaN
87,Colin Huang,Entrepreneur,Master,Computer Science,University of Wisconsin,2004,USA,28,4.0,Research Fellowship
11,Barack Obama,Politician,Juris Doctor,Law,Harvard Law School,1991,USA,2,3.1,Harvard Law Review Editor
5,Indra Nooyi,Business Leader,Master of Business Administration,Management,Yale School of Management,1980,USA,11,3.7,Scholarship Winner
6,Oprah Winfrey,Media Executive,Honorary Doctorate,speech communications and performing arts,Tennessee State University,1987,USA,NaN,NaN,Honorary Award
7,Satya Nadella,Tech Executive,Master of Science,Computer Science,University of Wisconsin–Milwaukee,1990,USA,301–350,3.5,Academic Excellence Award
8,Malala Yousafzai,Activist,Undergraduate Studies,Philosophy,University of Oxford,2021,UK,4,NaN,Nobel Peace Prize
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,NaN,NaN
10,Marie Curie,Scientist,Doctor of Philosophy,Physics,University of Paris,1903,France,35,NaN,Nobel Fellowship
11,Barack Obama,Politician,Juris Doctor,Law,Harvard Law School,1991,USA,2,3.1,Harvard Law Review Editor
12,Tim Cook,Tech Executive,Master of Business Administration,Business Administration,Fuqua School of Business (Duke University),1988,USA,26,3.8,Fuqua Scholar
13,Serena Williams,Athlete,Bachelor of Science,Business Administration,University of California,2021,USA,40,3.6,Student-Athlete Academic Award
14,Sergey Brin,Entrepreneur,Master of Science,Computer Science,Stanford University,1995,USA,3,3.9,National Science Foundation Fellowship
15,Larry Page,Entrepreneur,Master of Science,Computer Engineering,Stanford University,1995,USA,3,3.9,NSF Graduate Fellowship

#### Удалите колонку Scholarship/Award.

In [423]:
new_table = table.drop(columns=['Scholarship/Award'])
new_table.columns

Index(['Name', 'Profession', 'Degree', 'Field', 'Institution',
       'Graduation Year', 'Country', 'University Global Ranking',
       'GPA (or Equivalent)'],
      dtype='object')

#### Переименуйте колонку "Profession", заменив на "Occupation".

In [424]:
new_table = new_table.rename(columns={'Profession':'Occupation'})
new_table.columns

Index(['Name', 'Occupation', 'Degree', 'Field', 'Institution',
       'Graduation Year', 'Country', 'University Global Ranking',
       'GPA (or Equivalent)'],
      dtype='object')

####  Соберите статистику по столбцу GPA при помощи метода .describe(), не забудьте про NA.

In [425]:
GPA = new_table #создаём GPA, чтобы было удобно работать отдельно с ним
GPA = GPA.dropna(subset='GPA (or Equivalent)') #в сущности, это бессмысленная строчка, т.к. describe автоматически исключает из статистики NaN
GPA['GPA (or Equivalent)'].describe()

count      86
unique      8
top       3.8
freq       22
Name: GPA (or Equivalent), dtype: object

#### Заполните пропуски в столбце GPA средним значением.

In [426]:
# В строке 22 — мусор. Удалим её:
if 22 in new_table.index:  # чтобы удалить строчку только один раз и не получать ошибку
    new_table = new_table.drop(22, axis=0)
if 22 in GPA.index:
    GPA = GPA.drop(22, axis=0)
GPA['GPA (or Equivalent)'] = pd.to_numeric(GPA['GPA (or Equivalent)'], errors='coerce')
mean = GPA['GPA (or Equivalent)'].mean()
new_table['GPA (or Equivalent)'] = new_table['GPA (or Equivalent)'].fillna(round(mean, 1))
#new_table.sample(10) #для проверки

## ЧАСТЬ 2: фильтрация и поиск

#### Выведите всех выпускников Лиги плюща (Harvard University, Yale University, Princeton University, Columbia University, Brown University, University of Pennsylvania, Cornell University, Dartmouth College).

In [427]:
# Список университетов лиги плюща
ivy_league = ['Harvard University', 'Yale University', 'Princeton University',
              'Columbia University', 'Brown University', 'Dartmouth College',
              'University of Pennsylvania', 'Cornell University', 'MIT/Harvard']

pd.DataFrame(table[table['Institution'].isin(ivy_league)])

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.6,Marquis Scholar
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,NaN,NaN
18,Emma Watson,Actor,Bachelor of Arts,English Literature,Brown University,2014,USA,14,3.5,Rhodes Scholar Finalist
27,Neil deGrasse Tyson,Astrophysicist,PhD,Astrophysics,Columbia University,1991,USA,7,3.9,NASA Fellowship
31,Yo-Yo Ma,Musician,Bachelor,Liberal Arts,Harvard University,1976,USA,3,3.8,Presidential Medal of Freedom
33,MacKenzie Scott,Author/Philanthropist,Bachelor,English,Princeton University,1992,USA,6,3.9,Toni Morrison Thesis Prize
38,Sal Khan,Education Executive,Master/MBA,Engineering/Business,MIT/Harvard,2003,USA,1,4.0,Presidential Scholar
43,Andrea Jung,Business Executive,Bachelor,English Literature,Princeton University,1979,USA,6,NaN,Princeton Scholar
44,John Legend,Musician,Bachelor,English,University of Pennsylvania,1999,USA,8,3.9,University Scholar
45,Anne Wojcicki,Tech CEO,Bachelor,Biology,Yale University,1996,USA,3,3.8,Research Excellence Award
46,Fareed Zakaria,Journalist,PhD,Political Science,Harvard University,1993,USA,3,NaN,Phi Beta Kappa
47,Mindy Kaling,Actor/Writer,Bachelor,Playwriting,Dartmouth College,2001,USA,12,3.7,Eleanor Frost Prize
57,Natalie Portman,Actor,Bachelor,Psychology,Harvard University,2003,USA,3,3.9,Research Award
58,Warren Buffett,Investor,Master,Economics,Columbia University,1951,USA,7,3.9,NaN
61,Steve Ballmer,Entrepreneur,Bachelor,Mathematics,Harvard University,1977,USA,3,3.8,Academic Excellence
63,Michael Bloomberg,Entrepreneur,MBA,Business,Harvard University,1966,USA,3,3.8,Merit Award
73,Stephen Schwarzman,Finance,MBA,Business,Harvard University,1972,USA,3,3.9,Merit Award
75,Len Blavatnik,Entrepreneur,Master,Computer Science,Columbia University,1981,USA,7,3.9,Merit Scholarship
102,Ken Griffin,Finance,Bachelor,Economics,Harvard University,1989,USA,3,3.8,NaN
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006,USA,3,3.7,NaN
121,Daniel Gilbert,Psychologist,Ph.D.,Psychology,Yale University,1984,USA,14,NaN,American Psychological Association Distinguish...

#### Найдите всех нобелевских лауреатов и выведите только их имена, страну и род деятельности.

In [428]:
#Ищу не только среди Лиги Плюща, ибо не сказано искать среди только них
Noble_Prize = ['Nobel Peace Prize', 'Nobel Prize Physics']
pd.DataFrame(table[table['Scholarship/Award'].isin(Noble_Prize)])

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
8,Malala Yousafzai,Activist,Undergraduate Studies,Philosophy,University of Oxford,2021,UK,4,NaN,Nobel Peace Prize
21,Stephen Hawking,Physicist,PhD,Physics,Cambridge University,1966,UK,3,NaN,Nobel Prize Physics

## ЧАСТЬ 3: создание и преобразование столбцов

#### Создайте колонку 'Top_University' со значением True для университетов, входящих в топ-50. Обратите внимание на значения типа "231–240".

In [429]:
def Top(value):
    if pd.isna(value) or '–' in value:
        return False
    return int(value) <= 50

table['Top_University'] = table['University Global Ranking'].apply(Top)
table.sample(10) #Для проверки

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University
90,Tadashi Yanai,Fashion,Bachelor,Economics,Waseda University,1971,Japan,NaN,3.6,NaN,False
105,Stefan Quandt,Business,Bachelor,Engineering,Technical University of Darmstadt,1994,Germany,NaN,3.7,NaN,False
53,Reshma Shetty,Actor/Singer,Master,Music,University of Kentucky,2003,USA,NaN,3.8,Opera Excellence Award,False
115,Andrea Pignataro,Business,Bachelor,Financier,NaN,NaN,Italy/UK,NaN,NaN,NaN,False
76,Jacqueline Mars,Business,Bachelor,Anthropology,Bryn Mawr College,1961,USA,27,3.7,NaN,True
69,Bernard Arnault,Entrepreneur,Engineering,Engineering,École Polytechnique,1971,France,60,3.9,Academic Excellence,False
97,Carlos Slim Helu,Business,Bachelor,Engineering,Universidad Nacional Autonoma de Mexico,1961,Mexico,122,3.8,NaN,False
64,Charles Koch,Entrepreneur,Master,Engineering,MIT,1963,USA,1,3.9,Research Grant,True
113,Dieter Schwarz,Business,NaN,NaN,NaN,NaN,Germany,NaN,NaN,N/A\t,False
123,Gennady Timchenko,Business,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,False

#### Создайте колонку Academic_Performance, в которую внесите значение:
#### - "High", если GPA выше 3.5 баллов,
#### - "Medium", если GPA от 3 до 3.49 баллов,
#### - "Low", если GPA ниже 3 баллов.

In [430]:
def perf(value):
  if pd.isna(value) or (3 <= float(value) <= 3.49):
    return 'Medium' #Будем считать, что у тех, у кого не известен GPA, он средний
  elif float(value) >= 3.5:
    return 'High'
  else:
    return 'Low'

# В строке 22 — мусор. Удалим её:
if 22 in table.index:  # чтобы удалить строчку только один раз и не получать ошибку
    table = table.drop(22, axis=0)

table['Academic_Performance'] = table['GPA (or Equivalent)'].apply(perf)
table.sample(10)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University,Academic_Performance
64,Charles Koch,Entrepreneur,Master,Engineering,MIT,1963,USA,1,3.9,Research Grant,True,High
76,Jacqueline Mars,Business,Bachelor,Anthropology,Bryn Mawr College,1961,USA,27,3.7,NaN,True,High
35,Ursula von der Leyen,Politician,PhD,Medicine,Hannover Medical School,1991,Germany,122,NaN,Research Excellence Award,False,Medium
112,Ma Huateng,Business,Bachelor,Computer Science,Shenzhen University,1993,China,801,NaN,NaN,False,Medium
7,Satya Nadella,Tech Executive,Master of Science,Computer Science,University of Wisconsin–Milwaukee,1990,USA,301–350,3.5,Academic Excellence Award,False,High
123,Gennady Timchenko,Business,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,False,Medium
96,Zhou Yahui,Entrepreneur,Bachelor,mechanical engineering,Tsinghua University,1999,China,NaN,3.7,NaN,False,High
46,Fareed Zakaria,Journalist,PhD,Political Science,Harvard University,1993,USA,3,NaN,Phi Beta Kappa,True,Medium
42,Ken Jeong,Actor/Comedian,MD,Medicine,UNC Chapel Hill,1995,USA,28,3.9,Internal Medicine Award,True,High
90,Tadashi Yanai,Fashion,Bachelor,Economics,Waseda University,1971,Japan,NaN,3.6,NaN,False,High

#### Посмотрите на уникальные значения в колонке Degree и приведите их к единообразию (Bachelor of Science -> Bachelor).

In [431]:
#table['Degree'].unique()
'''Принятые замены:
MBA = Master of Business Administration
Bachelor = Bachelor of Science
Bachelor = Bachelor's Degree
Not stated = NaN
Dropout = Dropped Out
PhD = Ph.D.
Master = MD'''

def Degr(D):
  if pd.isna(D):
    return 'Not stated'
  elif D == 'Master of Business Administration':
    return 'MBA'
  elif D == "Bachelor of Science" or D == "Bachelor's Degree":
    return 'Bachelor'
  elif D == 'Dropped Out':
    return 'Dropout'
  elif D == 'Ph.D.':
    return 'PhD'
  elif D == 'MD':
    return 'Master'
  else:
    return D

table['Degree'] = table['Degree'].apply(Degr)
table.sample(10)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University,Academic_Performance
122,Aliko Dangote,Business,Bachelor,Business Administration,Al-Azhar University,1977,Nigeria,NaN,NaN,NaN,False,Medium
110,Thomas Peterffy,Entrepreneur,Not stated,NaN,NaN,USA(residence)/ Hungary (origin),NaN,NaN,NaN,NaN,False,Medium
33,MacKenzie Scott,Author/Philanthropist,Bachelor,English,Princeton University,1992,USA,6,3.9,Toni Morrison Thesis Prize,True,High
108,Eyal Ofer,Business,Bachelor,Maritime Law,University of London,1970,Israel,NaN,NaN,N/A\t,False,Medium
92,Qin Yinglin,Business,Master,Animal Science,China Agricultural University,1995,China,NaN,3.8,Research Grant,False,High
113,Dieter Schwarz,Business,Not stated,NaN,NaN,NaN,Germany,NaN,NaN,N/A\t,False,Medium
104,Vagit Alekperov,Business,Bachelor,Engineering,Azarbayjan State Oil Academy,1975,Azerbaijan,NaN,3.6,NaN,False,High
14,Sergey Brin,Entrepreneur,Master of Science,Computer Science,Stanford University,1995,USA,3,3.9,National Science Foundation Fellowship,True,High
12,Tim Cook,Tech Executive,MBA,Business Administration,Fuqua School of Business (Duke University),1988,USA,26,3.8,Fuqua Scholar,True,High
112,Ma Huateng,Business,Bachelor,Computer Science,Shenzhen University,1993,China,801,NaN,NaN,False,Medium

## ЧАСТЬ 4: агрегация и группировка

#### Найдите топ-5 университетов по количеству выпускников в датасете.

In [432]:
table['Institution'].value_counts(ascending = False).head(5)

Institution
Harvard University          10
Stanford University          9
UCLA                         4
Princeton University         3
University of California     3
Name: count, dtype: int64

#### Найдите топ-5 самых популярных областей обучения среди предпринимателей.

In [433]:
#Компьютерные науки встретились в таблице как с маленькой, так и с большой буквы. Уравниваем:
def com_sci(value):
  if value == 'computer science':
    return 'Computer Science'
  else:
    return value

table['Field'] = table['Field'].apply(com_sci)
brandnew_table = table[table.Profession == 'Entrepreneur']
brandnew_table['Field'].value_counts(ascending = False).head(5)

Field
Computer Science       10
Engineering             6
Business                3
Economics               2
Physics & Economics     1
Name: count, dtype: int64

#### Определите топ-5 стран с самыми высокими значениями GPA.

#### Сгруппируйте записи по профессиям и посчитайте:
#### - количество людей в каждой профессии,
#### - средний GPA для каждой профессии,
#### - количество людей с разными уровнями образования для каждой профессии.

#### Сгруппируйте данные сначала по стране и профессии. Посчитайте:
#### - количество людей,
#### - средний GPA.

#### Удалите NA в столбце с годом выпуска, преобразуйте значения в тип datetime64, сделайте столбец индексом датафрейма и сгруппируйте по десятилетиям (метод .resample). Посчитайте:
#### - количество выпускников в каждом десятилетии,
#### - наиболее популярную область обучения для каждого десятилетия,
#### - средний GPA.
#### PS: сначала избавьтесь от NA в соответствующей колонке.